body {
  background-color: rgb(26, 26, 26);
  margin: 0px;
}
.flex-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  margin: auto;
}
