body {
  background-color: black;
  margin: 0px;
  font-family: Courier, monospace;
}
.flex-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  margin: auto;
  transform: scale(1.1);
}
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background: black;
  border: grey solid 2px;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-text {
  font-size: 16px;
  margin-top: 10px;
}
.intro-text.big {
  font-size: 20px;
  margin-top: 0px;
}
.name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-label {
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 10px;
}
.name-form-input {
  margin-bottom: 10px;
  background-color: black;
  border: 2px solid grey;
  color: white;
  font-size: 16px;
  width: 180px;
  font-family: Courier, monospace;
  text-align: center;
}
.name-form-submit {
  background-color: black;
  border: 2px solid grey;
  color: white;
  font-size: 14px;
  width: 60px;
  font-family: Courier, monospace;
  margin-top: 10px;
}
.leaderboard-container {
  background: rgba(113, 113, 113, 0.603);
  color: white;
  font-size: 16px;
  z-index: 99;
  position: fixed;
  padding: 10px;
  top: 0px;
  right: 0px;
  margin-right: 10px;
  margin-top: 10px;
  width: 200px;
  display: none;
}
.leaderboard-container table {
  table-layout: fixed;
  text-emphasis: bold;
  width: 100%;
}
.leaderboard-number {
  text-align: left;
  width: 15%;
}
.leaderboard-name {
  text-align: left;
  width: 60%;
}
.leaderboard-score {
  text-align: right;
}
